<title>
    <%= title %>
</title>
<link rel="stylesheet"  href="/CSS/home.css">
<div id="home-container">
<!-- <h1> codeial / <%= title %> </h1> -->
 <%if(locals.user){%>   <!--this makes sure that post form is visible when user has logged in  -->
<section id="feed-post">
    <form action="/posts/create" id="new-post-form" method="POST">
        <textarea name="content" cols="30" rows="3" placeholder="type here.."></textarea>
        <input type="submit" value="post">
    </form>
<% } %>
<div id="posts-list-container">
    <ul>
        <% for(post of posts){ %>
            
            <%- include('_post'); %>
            
        <% } %>
    </ul>
</div>
</section>
<section id="user-friends">
    <h4>FRIENDS</h4>
    <% for(u of all_users){ %>
       
        <p>
        <a href="/users/profile/<%= u.id %>"><%= u.name %></a>
        </p>

    <% } %>
</section>
</div>