
<html>
    <head>
        <title>
            <%= title  %>
        </title>
        <link rel="stylesheet" href="/CSS/layout.css">
        <link rel="stylesheet" href="/CSS/header.css">
        <link rel="stylesheet" href="/CSS/footer.css">
         <%- style %>   <!--will add all the style link of the rendered page here in the head -->
        
    </head>

    <body>
        <%- include('_header'); %>

        <%- body %>


        <%- include('_footer'); %>

        <%- script %>
        
    </body>
</html>